.middle {
    background-color: black;
    position: absolute;
    opacity: 0;
    width: 260px;
    height: 260px;
    text-align: center;

}

.postThumbNail-image:hover {
    opacity: 0.6;
}

.middle:hover {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.middle:hover .postThumbNail-text {
    opacity: 1;
}

.postThumbNail-text {
    opacity: 0;
    margin: auto;
    position: absolute;
    color: white;
    top: 45%;
    left: 30%;
    font-size: 16px;
    padding: 10px 10px;
}

FavoriteIcon {
    padding: 10px 10px;
}