/* .post-background {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: rgba(78, 78, 78, 0.8);
}

.post-background > svg {
  position: absolute;
  top: 20px;
  right: 20px;
} */

.detail-container {
  width: 70%;
  height: 751px;
  max-height: 100vh;
  /* margin: auto; */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.left-part {
  flex-grow: 1;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-part img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.left-part video {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.right-part {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  background: #fff;
}

.user-info {
  margin-top: 20px;
  margin-left: 14px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
}

.user-info span {
  margin: 5px;
}

.user-info .username {
  margin-left: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.detail-container hr {
  margin: 14px 0;
}

.bottom {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}

.middle-part {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.right-part .text {
  padding: 14px 0 14px 14px;
  max-height: 120px;
  justify-self: start;
  border-bottom: #8F8F8F 1px solid;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.middle-part .comment-container {
  display: flex;
  padding-top: 15px;
  /* justify-content: flex-start; */
  /* justify-content: center; */
}

.comment-container .MuiAvatar-root {
  margin-left: 10px;
}

.comment-container .comment {
  margin-left: 15px;
}

.comment-container .comment-text {
  margin-bottom: 3px;
  overflow-y: auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.comment-operators {
  display: flex;
}

.comment-operators .comment-edit {
  margin-bottom: 8px;
  margin-left: 8px;
  padding: 0;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;

  color: #727272;
}

/* .comment-operators .MuiButtonBase-root {
  margin-bottom: 8px;
  margin-left: 8px;
  padding: 0;
  

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;

  color: #B0B0B0;
} */

.commentEdit-container {
  width: 200px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F4F4F4;
}

.icons {
  display: flex;
  align-items: center;
}

.icons span {
  margin: 9px;
}

.statistic {
  padding-left: 20px;
}

.statistic .like {
  margin: 11px 0 2px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.detail-container .time {
  margin-bottom: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;

  color: #B0B0B0;
}

.post-comment {
  width: 100%;
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F4F4F4;
}

.comment-input {
  margin-left: 28px;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #8F8F8F;
}

.comment-input {
  /* margin-left: 8px;
  padding-left: 8px;
  width: 425px; */
  width: 250px;
  margin-left: 15px;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #8F8F8F;
}

.comment-input--singleLine .comment-input__control {
  font-family: 'Commissioner';
  position: relative;
}

.comment-input--singleLine .comment-input__highlighter {
  padding: 5px;
}

.comment-input--singleLine .comment-input__input {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.comment-input .comment-input__suggestions {
  top: -200px;
}

.comment-input__suggestions__list {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 10pt;
}

.comment-input__suggestions__item {
  padding: 5px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.comment-input__suggestions__item--focused {
  background-color: #cee4e5;
}