.post-background {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: rgba(78, 78, 78, 0.8);
}

.post-background > svg {
  position: absolute;
  top: 20px;
  right: 20px;
}

.detail-container {
  width: 70%;
  height: 751px;
  max-height: 100vh;
  /* margin: auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.left-part {
  flex-grow: 1;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-part img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.left-part video {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.right-part {
  position: relative;
  width: 100%;
  background: #fff;
}

.user-info {
  margin-top: 20px;
  margin-left: 33px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
}

.user-info > span {
  margin: 5px;
}
/* .user-info > :nth-last-child(2) { 
  margin-left: 10%;
}

.user-info :nth-last-child(1) { 
  margin: auto;
} */

.user-info .username {
  margin-left: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.detail-container hr {
  margin: 14px 0;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.middle-part .text {
  padding-left: 34px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  overflow: scroll;
}

.icons {
  display: flex;
  align-items: center;
}

.icons span {
  margin: 9px;
}

.statistic {
  padding-left: 20px;
}

.statistic .like {
  margin: 11px 0 2px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.statistic .time {
  margin-bottom: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;

  color: #B0B0B0;
}

.comment {
  width: 100%;
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F4F4F4;
}

.comment-input {
  margin-left: 28px;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #8F8F8F;
}